* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.difficulte {
  margin-bottom: 3%;
}

.paraf {
  font-size: 150%;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.557);
}

.reinitialiser {
  margin-top: 3%;
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
}

.jeu {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.msgFin {
  font-size: 200%;
  margin-top: 3%;
  text-align: center;
  color: rgb(222, 6, 6);
  font-weight: bolder;
  text-shadow: 0 0 3px #ffcbcb, 0 0 5px #ffffff;
}

.button {
  background-color: #d55ff9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  background-color: #d55ff9;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.box {
  width: 120px;
  height: 25px;
  border: 1px solid #999;
  
  color: #bb10ca;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

.body-memory {
  background-image: url("https://marketplace.canva.com/EAFHm4JWsu8/1/0/1600w/canva-pink-landscape-desktop-wallpaper-HGxdJA_xIx0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}